/* --- Page Layout --- */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f5e9d3;   /* beige */
    padding: 10px 15px;
    border-radius: 8px;
    color: #333;
    margin-top: 40px;
}

.container {
    width: auto;
    background: white;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    overflow: auto;
}


/* --- Section Headers --- */
h2 {
    background-color: #f5e9d3;   /* beige */
    padding: 10px 15px;
    border-radius: 8px;
    color: #333;
    margin-top: 40px;
}

/* --- Text Styling --- */
p {
    font-size: 18px;
    line-height: 1.6;
}

.profile-photo {
  display: block;
  width: auto;          /* or size you prefer */
  margin: 0 auto 20px;   /* center horizontally + some space below it */
}

table {  
margin-right: auto;  
margin-left: auto;

}
